<% @attributes_for_update ||= params[:attributes] %>
<div class="row col-sm-4 col-sm-offset-4">
  <% if @attributes_for_update == 'password' %>
    <%= render 'change_password' %>
  <% else %>
    <%= render 'update_data' %>
  <% end %>
</div>
