<% @user.each do |user| %>
  <div class="col-md-6">
    <div class="col-md-12 custom-book-col">
      <div class="col-sm-3"><img src="https://media.istockphoto.com/vectors/bookstore-logo-template-design-logo-open-book-vector-id1088265598" alt="Img" class="avatar"></div>
      <div class="col-sm-9">
        <div class="row"><b class="custom-highlight-name"><%= user.name %></b></div>
		<div class="row"><b class="custom-highlight-name"><%= user.address %></b></div>
		<div class="row"><b class="custom-highlight-name"><%= user.phone %></b></div>
      </div>
    </div>
  </div>
<% end %>