<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-1">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h2>
      	<%= @user.address %>
      </h2>
      <h3>
      	<%= @user.phone %>
      </h3>
    </section>
  </aside>
</div>
