<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if images.empty? %>
      <div class="item active">
        <img src="<%= image_path('default-book-cover.jpg') %>">
      </div>
    <% else %>
      <% images.each_with_index do |image, index| %>
        <div class="item <%= "active" if index == 0 %> ">
          <img src="<%= image&.url %>">
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
