<% if @books.present? %>
  <div class="row">
    <%= render partial: 'list', locals: { books: @books } %>
  </div>

  <div class="row text-center">
    <%= paginate @books %>
  </div>
<% else %>
  <%= render partial: 'shared/list_empty', locals: { message: t('books.empty.empty_notification'), title: t('books.empty.link_to_new_book'), path: new_book_path } %>
<% end %>
