<div class="row", id="books">
  <%= render partial: 'books/book_list', locals: { books: @books } %>
</div>

<div class="row text-center", id="paginator">
  <%= paginate @books, remote: true %>
</div>
