<% if @user_books.present? %>
  <div class="row">
    <%= render 'list', user_books: @user_books %>
  </div>

  <div class="row text-center">
    <%= paginate @user_books %>
  </div>
<% else %>
 <%= render partial: 'shared/list_empty', locals: { message: t('books.empty.empty_notification'), title: t('books.empty.link_to_new_book'), path: new_book_path } %>
<% end %>
