.small-img-style {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  border:1px solid red;
}

.detail {
  padding-left: 30px;
  margin-top: 15px;
}

hr {
  border-style: inset;
  border-width: 1px;
  padding-left: 0px;
  margin-left: -15px;
}

#main_image {
  width: 380px;
  height:400px;
}

.small-image{
  padding-left: 0px;
  width: 100px;
  height: 90px;
}

.div-image {
  width: 380px;
}

.user-info {
  margin-left:50px;
}
