.small-img-style {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  padding: 2px;
  &:hover {
    cursor: pointer;
  };
}

.detail {
  padding-left: 30px;
  margin-top: 15px;
}

hr {
  border-style: inset;
  border-width: 1px;
  padding-left: 0px;
  margin-left: -15px;
}

#main_image {
  width: 300px;
  height:400px;
}

.small-image {
  padding-left: 0px;
  width: 90px;
  height: 90px;
}

.div-image {
  width: 380px;
}

.user-info {
  margin-left:50px;
}

.icon {
  width: 20px;
  height: 20px;
}

.validate-message {
  color: red;
}

.input-validation-error {
    border: solid 1px #ff0000;
}

.images-div {
  width: 310px;
  height: auto;
}

.border-red {
  border: 1px solid red;
}
.book-request-buyer {
  margin-top: 10px;
}
