html, body {
  height: 90%;
}
.wrapper {
  min-height: 104%;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

b {
  font-size: 1.1em;
  line-height: 1.7em;
}

small {
  font-size: 0.8em;
  line-height: 1.2em;
}

a {
  color: #000000;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.first-row {
  margin-bottom: 15px;
}

.new-user .form-control {
  border: 1px solid #bbb;
  width: 100%;
}

.body-html {
  margin-top: 75px;
}

.horizontal-border {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  position: center;
}

.book-request {
  display:block;
  margin:auto;
}

.book-request-image {
  width: 100px;
  height: 200px;
}

.book-request-content {
  margin-top: 10px;
  padding: 5px;
}

.book-request-image {
    display:block;
    margin:left;
    width: 186px;
    height: auto;
}

.book-request-title {
  font: italic bold 12px/30px Georgia;
}

.book-request {
  background: rgba(0,0,0,.03);
  margin-left: 20px;
  margin-top: 10px;
  width: 186px;
}

.book-request-detail{
  font-size: 1.25rem;
}

.paginate {
  margin: 0 auto;
}

