html, body {
  height: 90%;
}
.wrapper {
  min-height: 104%;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

b {
  font-size: 1.1em;
  line-height: 1.7em;
}

small {
  font-size: 0.8em;
  line-height: 1.2em;
}

a {
  color: #000000;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.first-row {
  margin-bottom: 15px;
}

.new-user .form-control {
  border: 1px solid #bbb;
  width: 100%;
}

.body-html {
  margin-top: 75px;
}

.horizontal-border {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  position: center;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
