<% if images.empty? %>
  <img id="main_image" src='<%= image_path('default-book-cover.jpg') %>'>
<% else %>
  <img id="main_image" src='<%= images.first.url %>'>
  <% images.each do |image| %>
    <div>
      <figure class="col-md-3 small-image">
        <img class="small-img-style" alt='picture' src='<%= image.url %>'  >
      </figure>
    </div>
  <% end %>
<% end %>
