<div class="row">
	<% @book_requests&.each do |book_request| %>
		<div class="col-md-3 book-request">
			<div class="row">
				<img src="<%= book_request.book_request_images&.first.url %>" alt = "Book's cover" class="book-request-image">
				<div class="col-md-12" style="margin-top: 10px; padding: 5px;">
					<p class="book-title"><%= book_request.name %></p>
					<p>2 quyển</p>
          <p>10000 <span class="vnd">đ</span></p>
				</div>
			</div>
		</div>
	<% end %>
</div>



<!-- 		<div class="col-md-3 book-request">
			<div class="row">
				<img src="https://downloadsach.com/wp-content/uploads/2017/05/sach-di-tim-le-song-ebook-206x300.jpg" class="book-request-image">
				<div class="col-md-12" style="margin-top: 10px; padding: 5px;">
					<p class="book-title">ĐI TÌM LẼ SỐNG</p>
					<p>2 quyển</p>
          <p>10000 <span class="vnd">đ</span></p>
				</div>
			</div>
		</div> -->
