<div class="row">
	<% @book_requests&.each do |book_request| %>
	<a href="#">
	  <div class="col-sm-3 book-request" >
	  	<div class="row">
	  	  <div class="col-sm-4">
	  	    <img src="http://hinhnendepnhat.net/wp-content/uploads/2015/08/hinh-nen-mua-he-dong-co-xanh-tuoi-mat-nhat.jpg" class="book-request-image">
	  	  </div>
	  	  <div class="col-sm-8 book-request-content">
	  	  	<p>aaa</p>
	  	  	<p>bbb</p>
	  	  </div>
	  	 </div>
	  </div>
	</a>
	<% end %>
</div>
<h1>Ahihi</h1>
