<% provide(:title, t('book_request.create'))  %>
<h1><%= t('book_request.create') %></h1>
<%= render partial: 'form', locals: { submit_label: t('book_request.create'), book_request: @book_request }%>
