<% provide(:title, t('book_requests.create.create_new'))  %>
<h1><%= t('shared/book_requests.create.create_new') %></h1>
<%= render partial: 'form', locals: { submit_label: t('book_requests.create.create_new'), book_request: @book_request }%>
